@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    
<h1>Quienes Somos</h1>

<p>Contribuir al mejoramiento de la calidad de vida de nuestros clientes en cada una de las comunidades en las que insertamos.</p>




</div>